@import (css) url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Goldman', cursive;
}

body {
  color: white;
  font: 16px Verdana, "Times New Roman", Times, serif;
  background-color: black;

}

a {
  color: white;
  text-decoration: none;
}
a.active, a:hover {
  border-bottom: 0.125em solid white;
  color: white;
}

header {
  background: #000 url(../img/main-header.jpeg) no-repeat bottom center;
  background-size: cover;
  h1 {
    text-align: center;
    font-size: 3em;
    color: white;
    padding: 1em 0 2em 0;
  }
}

/**********************************
Navigation Menu
***********************************/

#nav-menu {
  text-align: center;
  border-bottom: 0.0625em solid white;
}

nav {
  border-top: 0.0625em solid white;
  ul {
    list-style: none;
    li {
      display: inline-block;   
      font-size: 1em;
      padding: 0.1875em; 
    }
  }
}

#nav-menu ul li {
  border: 1px solid;
  background-color: rgba(206, 157, 22, 0.788);
  font-size: 1.5rem;
}

.crumb a::after {
  display: inline-block;
  color: white;
  content: '>';
  font-size: 80%;
  font-weight: bold;
  padding: 0 0.1875em;
}

/**********************************
Index
***********************************/

figure {
  float: left;
	width: 30%; 
	margin: 3% 2% 0 3%;
  text-align: center;
  img {
    height: auto;
    max-width: 370px;
  }
}

p {
  text-align: justify;
  padding: 0 2% 3% 2%;
}

div.content {
  float: left;
	width: 63%;
	margin: 2% 0;
}

@media (max-width: 768px) {
  figure {
    width: 100%;
    margin: 0;
    img {
      width: 100%;
      height: auto;
      padding: 0 5% 3% 5%;
      max-width: none;
    }
  }
  
  div.content { 
    width: 100%;
    margin: 0;
    p {
      padding: 0 5% 3% 5%;
    }
  }
}

/****************************
Best sellers
*****************************/
article {
  width: 90%;
  border: 1px solid white;
  margin: auto;
  margin-bottom: 2%;
  h3 {
    padding: 1% 1% 0 1%;
    min-height: 2.34em;
  }
  figure {
    margin: 1%;
    a:hover {
      border-bottom: none;
    }
    img {
      width: 60%;
    }
  }
  p {
    font-size: 0.75em;
    padding: 1% 2% 1% 1%;
  }
}

@media (min-width: 768px) {
  .flexContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
  }
  article {
    width: 31%;
    margin: 0 1%;
    figure img {
      width: 100%;
    }
    p {
      width: 70%;
    }
  }
}

.detailBook {
  .flexContainer{
    margin: 2% 2%;
  }
  figure {
    float: none;
    margin: 0 1%;
    width: auto;
  }
}

.subGeners {
  padding: 2% 3%;
  list-style: none;
  li {
    border: solid 1px;
    padding: 0.25% 1%;
    &:hover {
      background-color: rgb(105, 102, 102);
      cursor: pointer;
    }
  }
  p {
    border-left: solid 1px;
    border-right: solid 1px;
    padding: 1% 2%;
  }
}